.home-team {
  padding: 0 0 110px;

  @include breakpoint-lo($small-viewport) {
    padding: 0 0 53px;
  }
}

.home-team__heading {
  color: $color-text-accent;
}

.home-team__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  list-style: none;
  margin: -6px;
  padding: 0;

  @include breakpoint-lo($medium-viewport) {
    flex-wrap: wrap;
  }

  @include breakpoint-lo($smaller-viewport) {
    margin: -10px;
  }
}

.home-team__list-item {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  margin: 6px 0;
  padding: 0 6px;

  @include breakpoint-lo($medium-viewport) {
    width: 50%;
    margin: 10px 0;
    padding: 0 10px;
  }

  @include breakpoint-lo($smaller-viewport) {
    flex-grow: 0;
    width: 100%;
  }
}

.home-team__list-item-inset {
  height: 100%;
  padding: 9px 10px;
  background: $color-brand-blue;
  border-radius: 20px 20px 10px 10px;
  color: #fff;

  a {
    color: currentColor;

    &:hover {
      text-decoration: underline;
    }
  }

  @include breakpoint-lo($smaller-viewport) {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    padding: 14px 9px;
  }
}

.home-team__list-item-photo {
  overflow: hidden;
  margin: 0 0 13px;

  .home-team__list-item:nth-child(4n + 1) & {
    border-radius: 15px 15px 100px 3px;
  }

  .home-team__list-item:nth-child(4n + 2) & {
    border-radius: 15px 100px 3px 3px;
  }

  .home-team__list-item:nth-child(4n + 3) & {
    border-radius: 15px 15px 3px 100px;
  }

  .home-team__list-item:nth-child(4n + 4) & {
    border-radius: 100px 15px 3px 3px;
  }

  @include breakpoint-lo($smaller-viewport) {
    flex-shrink: 0;
    flex-grow: 0;
    width: 35%;
    height: 180px;
    padding: 0;
  }
}

.home-team__list-item-pic {
  display: block;
  width: 100%;
  height: auto;

  @include breakpoint-lo($smaller-viewport) {
    object-fit: cover;
    height: 100%;
  }
}

.home-team__list-item-content {
  @include breakpoint-lo($smaller-viewport) {
    flex-shrink: 1;
    flex-grow: 0;
    padding: 0 0 0 30px;
  }
}

.home-team__list-item-name {
  display: block;
  font-weight: 400;
  font-size: 24px;

  @include breakpoint-lo($smaller-viewport) {
    font-size: 18px;
  }
}

.home-team__list-item-position {
  display: block;
  font-size: 12px;
  text-transform: uppercase;

  @include breakpoint-lo($smaller-viewport) {
    font-size: 10px;
  }
}

.home-team__list-item-text {
  display: block;
  font-size: 16px;
  margin: 26px 0 0;

  @include breakpoint-lo($smaller-viewport) {
    font-size: 12px;
  }
}
