.instruction-examples {
  margin: 0 0 100px;

  @include breakpoint-lo($small-viewport) {
    margin: 0 0 60px;
  }
}

.instruction-examples__heading {
  max-width: 640px;
}

.instruction-examples__cols {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  margin: -15px 0 0;
}

.instruction-examples__col {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 50%;

  &_l {
    padding-right: 40px;

    @include breakpoint-lo($small-viewport) {
      padding-right: 0;
    }
  }

  &_r {
    padding-left: 0;

    @include breakpoint-lo($small-viewport) {
      padding-top: 25px;
    }
  }

  @include breakpoint-lo($small-viewport) {
    width: 100%;
  }
}

.instruction-examples__text {
  margin: 15px 0 0;
  font-size: 24px;

  strong {
    color: $color-text-accent;
    font-weight: 400;

    @include breakpoint-lo($small-viewport) {
      color: $color-text;
      font-weight: 500;
    }
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @include breakpoint-lo($small-viewport) {
    font-size: 16px;
  }
}

.instruction-examples__insert-block {
  margin-top: 0;

  .insert-block__inset {
    max-width: 460px;
  }
}

.instruction-examples__cta {
  margin: 40px 0 50px;
}
