.instruction-start {
  margin: 0 0 55px;

  @include breakpoint-lo($small-viewport) {
    margin: 0 0 60px;
  }
}

.instruction-start__inset {
  margin: 0 auto;
  padding: 50px 0;
  background: #fff;
  border-radius: 50px;

  @include breakpoint-lo($small-viewport) {
    padding: 40px 0 10px;
    border-radius: 20px;
  }
}

/* List */

.instruction-start__list {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  list-style: none;
  margin: -40px -20px 0;
  padding: 0;

  @include breakpoint-lo($small-viewport) {
    margin: -10px 0 10px;
  }
}

.instruction-start__list-item {
  display: flex;
  align-items: stretch;
  position: relative;
  width: 50%;
  margin: 0;
  padding: 0 20px;

  &_wide {
    width: 100%;
  }

  @include breakpoint-lo($small-viewport) {
    width: 100%;
    padding: 0;
  }
}

.instruction-start__list-item-inset {
  position: relative;
  flex-grow: 1;
  padding: 33px 0 30px;
  border-bottom: solid 2px $color-text;

  .instruction-start__list-item:nth-child(odd) & {
    &::after {
      content: '';
      position: absolute;
      top: 20px;
      right: -21px;
      bottom: 20px;
      border-right: solid 2px $color-text;

      @include breakpoint-lo($small-viewport) {
        display: none;
      }
    }
  }

  .instruction-start__list-item_wide & {
    &::after {
      display: none;
    }
  }

  .instruction-start__list-item_wide:last-child & {
    border-bottom: none;
  }

  .instruction-start__list-item:last-child & {
    @include breakpoint-lo($small-viewport) {
      border: none;
    }
  }

  @include breakpoint-lo($small-viewport) {
    padding: 20px 0;
  }
}

.instruction-start__list-item-head {
  @include breakpoint-lo($small-viewport) {
    display: flex;
    flex-flow: row nowrap;
  }
}

.instruction-start__list-item-foot {
  &_mobile-hide {
    @include breakpoint-lo($small-viewport) {
      display: none;
    }
  }

  &_mobile-show {
    display: none;

    @include breakpoint-lo($small-viewport) {
      display: block;
    }
  }
}

.instruction-start__list-item-num {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 0 15px;
  border: solid 2px $color-text;
  border-radius: 30px;
  font-size: 14px;

  @include breakpoint-lo($small-viewport) {
    flex-shrink: 0;
    flex-grow: 0;
    width: 26px;
    height: 26px;
    margin: 0 12px 0 0;
    font-size: 12px;
  }
}

.instruction-start__list-item-text {
  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

/* Wide item content */

.instruction-start__list-item-cols {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

.instruction-start__list-item-col {
  width: 50%;

  &_l {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    padding-right: 20px;
  }

  &_r {
    padding-left: 20px;
  }

  @include breakpoint-lo($small-viewport) {
    width: 100%;
    padding: 0;
  }
}

.instruction-start__inner-list {
  list-style: none;
  margin: 40px 0 0;
  padding: 0;

  @include breakpoint-lo($small-viewport) {
    margin: 15px 0;
  }
}

.instruction-start__inner-list-item {
  position: relative;
  margin: 0;
  padding: 5px 40px 12px 40px;

  &:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 27px;
    height: 27px;
    background: url('#{$baseurl}/assets/images/i-bullet-arrow-circle.svg') transparent 0 0 no-repeat;
  }

  @include breakpoint-lo($small-viewport) {
    padding: 8px 0 10px 40px;
    font-size: 14px;
  }
}

.instruction-start__list-item-side-text {
  margin: 45px 0 0;

  @include breakpoint-lo($small-viewport) {
    margin: 1em 0 0 38px;
  }
}
