{% assign fields = site.data.page_about.fields.goals %}
<div class="about-goals">
  <div class="about-goals__inset">
    <div class="about-goals__container container">
      <h2 class="about-goals__heading heading-h2">
        {{ fields.heading | markdownify | remove: '<p>' | remove: '</p>' }}
      </h2>
      <div class="about-goals__cols">
        <div class="about-goals__col about-goals__col_l">
          <div class="about-goals__text">
            {{ fields.text.col1 | markdownify }}
          </div>
        </div>
        <div class="about-goals__col about-goals__col_r">
          <div class="about-goals__text about-goals__text_2">
            {{ fields.text.col2 | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
