{% assign fields = site.data.page_index.fields.hero %}
<div class="home-hero">
  <div class="home-hero__container container">
    <div class="home-hero_page-label page-label">
      <div class="page-label__label">
        {{ fields.label | markdownify | remove: '<p>' | remove: '</p>'}}
      </div>
    </div>
    <h1 class="home-hero__heading heading-h1">
      {{ fields.heading | markdownify | remove: '<p>' | remove: '</p>'}}
    </h1>
    <div class="home-hero__cta">
      <a
        href="{{ fields.cta.url }}"
        class="home-hero__cta-button button"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ fields.cta.text }}
      </a>
    </div>
  </div>
</div>
