<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="{{ page.keywords }}" />
<meta property="og:title" content="{% if page.ogTitle %}{{ page.ogTitle }}{% else %}{{ page.title }}{% endif %}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{% if page.thumbnail %}{{ '/assets/images/' | append: page.thumbnail | absolute_url }}{% else %}{{ '/assets/images/' | append: site.thumbnail | absolute_url }}{% endif %}" />
<meta property="vk:image" content="{% if page.thumbnailVK %}{{ '/assets/images/' | append: page.thumbnailVK | absolute_url }}{% else %}{{ '/assets/images/' | append: site.thumbnailVK | absolute_url }}{% endif %}" />
<meta property="twitter:image" content="{% if page.thumbnailTw %}{{ '/assets/images/' | append: page.thumbnailTw | absolute_url }}{% else %}{{ '/assets/images/' | append: site.thumbnailTw | absolute_url }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:type" content="website" />
