<nav class="top-menu">
  {% for item in site.data.header.menu %}
    <a
      href="{% if item.external != true %}{{ site.baseurl }}{% endif %}{{ item.url }}"
      class="top-menu__link
        {% if item.url == page.url %}top-menu__link_active{% endif %}
        {% if item.external %}top-menu__link_external{% endif %}
        {% if item.mobileHide %}top-menu__link_mobile-hide{% endif %}
        {% if item.extraMargin %}top-menu__link_extra-margin{% endif %}"
      {% if item.external %}
      target="_blank"
      rel="noopener noreferrer"
      {% endif %}
    >
      {{ item.title }}
    </a>
  {% endfor %}
</nav>
