<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  {% include seo.html %}
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href={{"favicon.ico" | absolute_url}} />
  {% if page.disableZoom %}
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0" />
  {% else %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% endif %}
  <link rel="stylesheet" href="{{'/assets/css/styles.css' | append: '?v=' | append: site.time | relative_url}}">
  <script type="application/javascript" src="{{'/vendors/jquery-3.6.0.min.js' | relative_url}}"></script>
  <script type="application/javascript" src="{{'/vendors/showdown.min.js' | relative_url}}"></script>
  <link rel="stylesheet" href="{{'/vendors/highlight/github.min.css' | relative_url}}">
  <script type="application/javascript" src="{{'/vendors/highlight/highlight.min.js' | relative_url}}"></script>
</head>
<body>
{% include svg-defs.html %}
<div class="layout {% if page.slug %}layout_{{ page.slug }}{% endif %}" id="#top">
  {% include header.html %}
  <div class="content">
    {{ content }}
  </div>
  {% include footer.html %}
</div>
</body>
</html>
