/* Fonts */
$font-family-text: YSDisplay, 'Open Sans', 'Helvetica Neue', arial, sans-serif;
$font-family-heading: YSDisplay, 'Open Sans', 'Helvetica Neue', arial, sans-serif;

/* Colors */
$color-brand-blue: #007ee4;
$color-text: #222;
$color-text-light: #fff;
$color-text-accent: $color-brand-blue;
$color-bg-body: #e5e5e5;
$color-gray: #ccc;
$color-gray-light: #e4e4e4;
$color-link: $color-brand-blue;
$color-link-hover: #4da8ff;

/* Sizes */
$min-body-width: 320px;
$width-container: 1280px;
$padding-side: 60px;
$padding-side-sm: 10px;
$height-button: 74px;
$height-button-sm: 50px;
