.container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: $width-container;
  margin: 0 auto;
  padding: 0 $padding-side;
  text-align: left;

  @include breakpoint-lo($medium-viewport) {
    padding: 0 $padding-side-md;
  }

  @include breakpoint-lo($small-viewport) {
    padding: 0 $padding-side-sm;
  }
}
